@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');


:root {
  --color-primary: #eff7f6;
  --color-headings: #f4a261;
  --color-texts: #26534b;
  --color-bg-button: #2a9d8f;
  --color-bg-btn-hover: #f4a261;
  --color-card-bg: #e9f8f6;
  --color-border: #2a9d8f;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  font-family: 'Fredoka', sans-serif;
}

body::before {
  content: "";
  background-image: url('/background.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.20;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

h1, h2,h3{
    color: var(--color-headings);
}
p {
    color: var(--color-texts);
}
